$commentColor: rgb(239, 248, 230);
$commentBgColor: rgb(124, 146, 130);
$hoverCommentBgColor: rgb(80, 155, 160);

.commentary {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  background: $commentBgColor;

  &:hover {
    background: rgba(2, 129, 108, 0.966);
  }

  &:active {
    background-color: rgb(81, 205, 243);
  }
}

.commentName {
  word-wrap: break-word;
  padding: 10px;
  width: 40%;
  margin: 2px;
  background: $commentColor;
  &:hover {
    background-color: $hoverCommentBgColor;
  }
}

.commentBody {
  word-wrap: break-word;
  padding: 10px;
  width: 60%;
  margin: 2px;
  background: $commentColor;
  &:hover {
    background-color: $hoverCommentBgColor;
  }
}

.commentEmail {
  word-wrap: break-word;
  padding: 10px;
  width: 30%;
  margin: 2px;
  background: $commentColor;
  &:hover {
    background-color: $hoverCommentBgColor;
  }
}

.editCommentBtn {
  font-size: 1rem;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .commentName {
    width: 50px;
    word-wrap: break-word;
  }

  .commentBody {
    word-wrap: break-word;
    width: 50px;
  }

  .commentEmail {
    word-wrap: break-word;
    width: 50px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 481px) {
  .commentName {
    width: 100px;
    word-wrap: break-word;
  }

  .commentBody {
    word-wrap: break-word;
    width: 100px;
  }

  .commentEmail {
    word-wrap: break-word;
    width: 100px;
  }
}
