$activeTabColor: rgb(35, 163, 120);

.tabLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  & a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
  }
}

.tab {
  background-color: rgb(74, 88, 70);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: $activeTabColor;
  }
}

.activeTab {
  background-color: $activeTabColor;
}
