$grey: #414044;

.breadcrumbs {
  color: $grey;
  border-bottom: 1px solid $grey;
  display: flex;
  font-size: 12px;
  margin: 3px;
  height: 30px;
}

.breadcrumb {
  cursor: pointer;
  margin: 10px 0;
  display: flex;
}

.breadcrumbName {
  color: $grey;
  &:hover {
    color: rgb(62, 118, 173);
  }
}

.lastBreadcrumb {
  margin: 10px 0;
  color: rgb(123, 136, 150);
}

.breadcrumbArrow {
  font-size: 14px;
}
