.editModalComment {
  background-color: rgba(66, 66, 64, 0.568);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editModalCommentBody {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  & h2 {
    margin: 20px;
  }
}

.editCommentInput {
  height: 40px;
  width: 200px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 10px;
  &:enabled:hover {
    border-color: rgb(2, 119, 145);
  }
  &:focus {
    outline: 0 none;
  }
}

.editCommentBtnModal {
  background-color: rgb(4, 0, 250);
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgb(3, 185, 85);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.cancelBtnEditModal {
  background-color: rgb(255, 2, 2);
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(138, 26, 26);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.btnEditModalCancel {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: rgba(231, 31, 31, 0.781);
    transition: 0.3s;
  }
}

.editModalNameError {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 12px;
  color: red;
}

.editModalEmailError {
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  font-size: 12px;
  color: red;
}

.editModalBodyError {
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  font-size: 12px;
  color: red;
}
