.btnSort {
  padding: 5px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3px;
  &:hover {
    background-color: #5f9ea0;
  }
  &:active {
    background-color: blue;
  }
}

.commentsHeader {
  margin-top: 5px;
}
