.modalEditComment {
  position: absolute;
  background-color: rgba(66, 66, 64, 0.623);
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

.modalEditCommentBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  width: 250px;
  height: 100px;
  line-height: 100px;
  justify-content: space-around;

  & h2 {
    margin: 20px;
  }
}

.editComBtn {
  background-color: rgb(4, 0, 250);
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(3, 185, 85);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.deleteComBtn {
  background-color: rgb(255, 2, 2);
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(138, 26, 26);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.btnEditModalCancel {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: rgba(231, 31, 31, 0.781);
    transition: 0.3s;
  }
}
