.loginForm {
  margin-top: 30px;
  background-color: rgb(213, 222, 224);
  padding: 3rem;
  position: relative;
}

.input {
  border: 1px solid #9e9e9e;
  color: #000000;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: Verdana;
  background: #fff;
  &:enabled:hover {
    border-color: rgb(2, 119, 145);
  }
  &:focus {
    outline: 0 none;
  }
}

.formError {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  color: rgb(255, 0, 0);
}

.error {
  color: rgb(255, 10, 10);
  position: absolute;
  left: 0;
  right: 0;
}

.buttonsForm {
  margin: 0 auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
