.btnSubmit {
  background-color: rgb(35, 221, 18);
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(3, 185, 85);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.btnReset {
  background-color: rgb(255, 2, 2);
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(138, 26, 26);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}
