.tableCommentsHeader {
  background-color: rgb(9, 90, 122);
  line-height: 50px;
}

.subHeader {
  display: flex;
  justify-content: space-around;
}

.searchCommentsInput {
  width: 30vh;
  height: 3vh;
  font-size: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  padding-left: 10px;
  &:enabled:hover {
    border-color: rgb(2, 119, 145);
  }
  &:focus {
    outline: 0 none;
  }
}

.addCommentBtn {
  background-color: rgb(44, 48, 255);
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgb(3, 185, 85);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .tableCommentsHeader {
    width: 100%;
  }

  .subHeader {
    display: block;
  }

  .searchCommentsInput {
    width: 18vh;
  }

  .addCommentBtn {
    background-color: rgb(70, 145, 9);
  }
}
