$sidebarColor: #928dc0;
$whiteColor: #fff;

.sidebar {
  position: relative;
  height: 82vh;
  width: 9.3vh;
  background: $sidebarColor;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .btn {
  position: absolute;
  top: 10px;
  left: 56%;
  color: $whiteColor;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  border: none;
  background-color: $sidebarColor;
}

.sidebar .btn:hover {
  color: rgb(0, 0, 0);
}

.sidebar.active .btn {
  left: 80%;
}

.sidebar ul {
  margin-top: 70px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  border-radius: 12px;
  color: $whiteColor;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar .linksName {
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .linksName {
  opacity: 1;
  pointer-events: auto;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: $whiteColor;
}

.sidebar ul li a span {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
}

.activeLink {
  background-color: rgb(69, 119, 226);
}

.sidebar .logOut {
  position: absolute;
  top: 90%;
  left: 25px;
  font-size: 30px;
  color: $whiteColor;
  cursor: pointer;
  border: none;
  background-color: $sidebarColor;
}

.sidebar.active .logOut {
  position: absolute;
  top: 90%;
  left: 75%;
  color: $whiteColor;
  transform: translateX(-50%);
}

.sidebar .logOut:hover {
  color: #000;
}

.sidebar.active .logOut:hover {
  color: #000;
}

.content {
  display: flex;
}
