.createCommentSuceess {
  background-color: rgba(0, 0, 0, 0.438);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.createCommentSuccessBody {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 350px;
  height: 100px;
  border-radius: 10px;
  & h4 {
    margin: 20px;
    color: green;
  }
}

.btnCancelCreateCommentSuccess {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: rgba(231, 31, 31, 0.781);
    transition: 0.3s;
  }
}
