.modalDeleteComment {
  background-color: rgba(66, 66, 64, 0.514);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalDeleteCommentBody {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
  & p {
    margin: 20px;
  }
}

.removeCommentBtn {
  background-color: rgb(4, 0, 250);
  padding: 10px;
  width: 70px;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgb(3, 185, 85);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.cancelRemoveComment {
  background-color: rgb(255, 2, 2);
  padding: 10px;
  width: 70px;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(138, 26, 26);
    transition: 0.3s;
  }
  &:disabled {
    background-color: gray;
  }
}

.btnCancelDeleteComment {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: rgba(231, 31, 31, 0.781);
    transition: 0.3s;
  }
}
